# .gitignore for Laravel

# Laravel / PHPStorm / IDE specific
/vendor
/node_modules
/public/storage
/storage/*.key
/.idea
/.vscode

# Laravel specific
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json
.env.local
.env.*.local

# Composer
/composer.lock

# PHPUnit
phpunit.xml
phpunit.xml.dist

# Nginx logs
/nginx/logs

# Temporary files
*.log
*.bak
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor folders
.idea/
.vscode/
